<div class="row test-row" id="{{test_report_id}}">
    <div class="large-10 columns">
        <span class="test-name">{{test_name}}</span>
    </div>
    <div class="large-2 columns">
        <span class="test-status" style="color: {{status_color}};">{{status}}</span>
    </div>
</div>
<div id="actions-{{test_report_id}}">
    {{#actions}}
    <div class="row test-actions-row">
        <div class="large-2 columns">
            <span class="test-name">{{element}}</span>
        </div>
        <div class="large-10 columns">
            <span class="test-status">{{action}}</span>
        </div>
    </div>
    {{/actions}}
    <div class="row test-screenshots-row">
        <div class="large-12 columns">
            {{#screenshots}}
                <img id="{{screenshot_id}}" src="data:image/png;base64,{{base64}}" />
                <script type="text/javascript">
                    $(function () {
                        $("#{{screenshot_id}}").click(function () {
                            if ($("#{{screenshot_id}}").css("max-width") == "100%") {
                                $("#{{screenshot_id}}").css("max-width", "24em");
                            } else {
                                $("#{{screenshot_id}}").css("max-width", "100%");
                            }
                        });
                    });
                </script>
            {{/screenshots}}
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $("#{{test_report_id}}").click(function () {
            $("#actions-{{test_report_id}}").slideToggle();
        });
        $("#actions-{{test_report_id}}").hide();
    });
</script>